<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.spotifymanager.spotifyplayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotifyplayer</string>
			</array>
		</dict>
	</array>
	<key>SpotifyClientID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SpotifyRedirectURI</key>
	<string>$(SPOTIFY_REDIRECT_URI)</string>
</dict>
</plist>
